[
	"/dubstepgun/base/main.lua",
	"/dubstepgun/base/modules/beatProjectiles.lua",
	"/dubstepgun/base/modules/aim.lua",
	"/dubstepgun/base/modules/camera.lua",
	"/dubstepgun/base/modules/arms.lua",
	"/dubstepgun/base/modules/portraitprocessor.lua",
	"/dubstepgun/base/modules/animation.lua",
	"/dubstepgun/base/modules/transforms.lua"
]